@import "Partials/reset";
@import "Partials/spacings";
@import"Partials/mixin";
@import"Partials/fonts";
@import"Partials/colors";
@import"Partials/buttons";
@import"Partials/animation";

header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bg_header;
        position: sticky;
        top: 0;
        z-index: 999;
        img{

        }
        ul{
            display: flex;
            gap: 10px;
            
            li{
                list-style-type:none;
                a{
                    text-decoration: none;
                    color: $testo;
                }
            }
        }
    }
    .container1{
        height: 200vh;
        @include fade-in(fade-in, 1s, forwards, 0.1s);
        .container2{
            display: flex;
            justify-content: center;
            @include fade-in(fade-in, 1s, forwards, 0.4s);
            
            p{
                @include fade-in(fade-in, 1s, forwards, 0.8s);
                width: 400px;
            }
            img{
                @include floating(15px, 0 10px 20px, 1px solid green);
                object-fit: cover;
                @include fade-in(fade-in, 1s, forwards, 1s);
            }
        }
        .buttons{
            button{
                text-align: center;
                @include fade-in(fade-in, 1s, forwards, 1.2s);
            
            }
        }
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }