@mixin floating($border-redius: 10px, $box-shadow: 0 10px 20px, $border: none){
    border: $border;
    border-radius: $border-redius;
    box-shadow: $box-shadow;
}

@mixin grid($nrow){
    display: grid;
    grid-template-columns: repeat($nrow, 1fr);
    grid-gap: 0.5rem;
}